# Virtual environments
.venv/
.venv-*/

# Python bytecode and caches
__pycache__/
*.py[cod]
*$py.class
*.pyd

# Testing & Build artifacts
.pytest_cache/
build/
dist/

# Logs and scratch files
*.log
*.tmp
